@import "./project.scss";
@import "./timeline.css";
@import "./event.scss";
@import "./carousel.scss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  background-color: #111;
  font-family: "Playfair Display", serif;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
video {
  object-fit: contain;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a {
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;
}
